.App{
  min-height: 110vh;
  position: relative;
}

.Footer{
  width: 100vw;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-50vw;
}

.contentwidth{
  max-width: 960px;
}

.maxwidth{
  width: 100%;
  height: auto;
}

.capitalize {
  text-transform: capitalize;
}

.largeTextFont{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.smallTextFont{
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

.smallTextFont2{
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}

@media (min-width: 280px) {  
  .logo{
    width: 200px;
  }
}

@media (min-width: 576px) {  
  .logo{
    width: 220px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .logo{
    width: 250px;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .logo{
    width: 270px;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .logo{
    width: 270px;
  }
}