.contentwidth{
  max-width: 960px;
}

.maxwidth{
  width: 100%;
  height: auto;
}

.capitalize {
  text-transform: capitalize;
}

.largeTextFont{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.smallTextFont{
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

.smallTextFont2{
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}